<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            
            
            
            <side-nav [enabled4]="active"></side-nav>

            <div class="col-md-10 col-sm-11 display-table-cell v-align filter-dashboard">

                <div class="user-dashboard">
                    <div class="row">
                        <div class="col-md-1">
                            <h1>Categories</h1>
                        </div>
                        <div class="col-md-9">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-lg pull-down " data-toggle="modal" data-target="#exampleModalLong">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>Add Category
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">
                            <filters-list [categories]="categories" #filterList></filters-list>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><label>New Category</label></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Category Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="categoryName" name="categoryName" placeholder="Add Category Name...">
          </div>
        </form>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="insertCategory()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>