body {padding-top:20px;}


.form-aligner,
.add-file-submit{
    margin-top:0%;
}


.dropzone{
    height: 20%;
}

.my-drop-zone { border: dotted 3px lightgray; text-align: center; }
.nv-file-over { border: dotted 3px #5584ff; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }